* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    color: #FFFFFF;
    background-color: #E5E000;
    display: flex;
    justify-content: left;
}

h1 {
    font-family: Helvetica;
    display: flex;
    padding: 30px;
}

.podheader-container {
    height: 1080px;
    background: url(images/img.svg) no-repeat center top;
    background-size: cover;
}

.links-container {
    padding: 30px;
    color: #FFFFFF;
    background-color: #E5E000;
    display: flex;
    justify-content: left;
}

h3 {
    font-family: Helvetica;
    font-size:x-large;
}

.main-container {
    padding: 30px 0px;
    margin-left: 30px 0px;
    color: black;
    background-color: #FFFFFF;
    display: block;
    justify-content: left;
}

p {
    font-family: Helvetica;
    font-size: x-large;
    margin-left: 30px;

}

.footer-container {
    padding: 30px 0px;
    color: #FFFFFF;
    background-color: #E5E000;
    display: flex;
    justify-content: space-between;
}

.footer-one {
    padding: 30px;
    align-items: center;
}

.footer-two {
    align-items: center;
}